@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Poppins:wght@300;500;600;700&family=Wix+Madefor+Display&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: nunito;
    height: 100vh;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background: #FFFF;
}

.topo img{
    width: 15%;
    margin: 1.5% 1.5%;
}

.perfil{
    margin-right: 1.5%;
}

.iconePerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.svgPerfil img{
    width: 25px;
}

.svgPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background: #F9E423;
    border-radius: 100px;

}

.cores{
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.retanguloMarrom{
    background: #AA6F34;
    width: 384px;
    height: 5px;
}
.retanguloMarrom2{
    background: #D2772E;
    width: 384px;
    height: 5px;
}
.retanguloLaranja{
    background: #F48221;
    width: 384px;
    height: 5px;
}
.retanguloLaranja2{
    background: #FAA61A;
    width: 384px;
    height: 5px;
}
.retanguloAmarelo{
    background: #F9E423;
    width: 384px;
    height: 5px;
}

.menuLateral{
    width: 17%;
    height: 100vh;
    background: #F9E423;
    position: absolute;
    top: 0;
    z-index: 1;
}

.home{
    display: flex;
    align-items: center;
    height: 60px;
    color: #AA6F34;
    /* background: #FAA61A; */
    border-left: 6px solid #F9E423;

    margin-top: 37%;
}

a{
    text-decoration: none;
}

.home:hover{
    display: flex;
    align-items: center;
    height: 60px;
    background: #FAA61A;
    border-left: 6px solid #F48221;
    margin-top: 37%;
    color: #FFFF;
}

.home img:hover{
    margin: 0px 10px;
    width: 25px;
}

.home img{
    margin: 0px 10px;
    width: 25px;
}

.usuarios{
    display: flex;
    align-items: center;
    height: 60px;
    color: #AA6F34;
    background: #f483217b;
    border-left: 6px solid #F48221;
    color: #FFFF;
}

.usuarios img{
    margin: 0px 10px;
    width: 25px;
}

.usuarios:hover{
    display: flex;
    align-items: center;
    height: 60px;
    background: #FAA61A;
    border-left: 6px solid #F48221;
    color: #FFFF;
}

.usuarios img:hover{
    margin: 0px 10px;
    width: 25px;
}

.emocionometro{
    display: flex;
    align-items: center;
    height: 60px;
    color: #AA6F34;
    border-left: 6px solid #F9E423;
}

.emocionometro img{
    margin: 0px 10px;
    width: 25px;
}

.emocionometro:hover{
    display: flex;
    align-items: center;
    height: 60px;
    background: #FAA61A;
    border-left: 6px solid #F48221;
    color: #FFFF;
}

.emocionometro img:hover{
    margin: 0px 10px;
    width: 25px;
}

.professores{
    display: flex;
    align-items: center;
    height: 60px;
    color: #FFFF;
    background: #FAA61A;
    border-left: 6px solid #F48221;
}

.professores span{
    margin-left: 17%;
}

.alunos{
    display: flex;
    align-items: center;
    height: 60px;
    color: #FFFF;
    background: #F48221;
    border-left: 6px solid #F48221;
}

.alunos span{
    margin-left: 17%;
}

.setaUsers{
    margin: 0px 10px 0px 50px;
    display: flex;
    align-items: center;

}

.meuPerfil{
    display: flex;
    align-items: center;
    height: 60px;
    color: #AA6F34;
    margin-top: 150px;
    border-left: 6px solid #F9E423;
}

.meuPerfil img{
    margin: 0px 10px;
    width: 25px;
}


.meuPerfil:hover{
    display: flex;
    align-items: center;
    height: 60px;
    background: #FAA61A;
    border-left: 6px solid #F48221;
    color: #FFFF;
}

.meuPerfil img:hover{
    margin: 0px 10px;
    width: 25px;
}

.sair{
    display: flex;
    align-items: center;
    height: 60px;
    color: #AA6F34;
    border-left: 6px solid #F9E423;
}

.sair img{
    margin: 0px 10px;
    width: 25px;
}


.sair:hover{
    display: flex;
    align-items: center;
    height: 60px;
    background: #FAA61A;
    border-left: 6px solid #F48221;
    color: #FFFF;
}

.sair img:hover{
    margin: 0px 10px;
    width: 25px;
}

.pageHome{
    position: relative;
    width: 100%;
    height: 86%;
    background: #F5F4F9;
    
}

.cadastro{
    width: 82.5%;
    height: 100%;
    margin-left: 17%;
    border-top: 1px solid transparent;
    color: #000;
}

.topoLista{
    display: flex;
    flex-direction: row;
    margin: 25px;
    gap: 10px;
    align-items: center;
}

.topoLista h2{
    display: flex;
    align-items: center;
}

.topoLista a{
    padding: 10px;
    background: #EEEEEE;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastrar{
    width: 97%;
    height: 40%;
    background: #FFF;
    margin-left: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 25px 0px rgba(163, 163, 163, 0.20);

}

.cadastrar span{
    top: 15px;
    left: 20px;
    position: relative;
}

.inputs{
    margin: 40px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 60%;
}

.inputs div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#nome {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--cinzas-cinza-300, #E0E0E0);
    background: var(--Branco, #FFF);
    width: 100%;
    margin-top: 15px;
}

#turma{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--cinzas-cinza-300, #E0E0E0);
    background: var(--Branco, #FFF);
    margin-top: 15px;

}

#ativo{
    width: 20%;
    margin-top: 18px;
}

.salvar{
    top: 45%;
    position: absolute;
    max-width: 15%;
}
#salvar{
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    background: #00C247;
    color: #FFF;
    border: 2px solid #00C247;
}

/* Botao toggle */

.toggle{
    width: 50px;
}

.toggle-switch {
    position: relative !important;
    display: inline-block !important;
    width: 50px !important;
    height: 25px !important;
    cursor: pointer !important;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none !important;
  }
  
  .toggle-switch-background {
    position: absolute !important;
    top: 10px !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #fc0707 !important;
    border-radius: 20px !important;
    box-shadow: inset 0 0 0 2px #fc0707 !important;
    transition: background-color 0.3s ease-in-out !important;
  }
  
  .toggle-switch-handle {
    position: absolute !important;
    top: 3px !important;
    left: 5px !important;
    width: 20px !important;  
    height: 20px !important;
    background-color: #fff !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s ease-in-out !important;
  }
  
  .toggle-switch::before {
    content: "" !important;
    position: absolute !important;
    top: -25px !important;
    right: -35px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #ed0909 !important;
    text-shadow: 1px 1px #fff !important;
    transition: color 0.3s ease-in-out !important;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(45px) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b !important;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #05c46b !important;
    box-shadow: inset 0 0 0 2px #04b360 !important;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
    content: "On" !important;
    color: #05c46b !important;
    right: -25px;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(20px) !important;
  }