@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Poppins:wght@300;500;600;700&family=Wix+Madefor+Display&display=swap');

body{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background: rgba(211, 211, 211, 0.751);
    font-family: Nunito;
}

h1{
    font-size: 1.5em;
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 20%;
}

.recuperar{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.recuperar p{
    margin-bottom: 0px;
    font-size: 0.8em;
    margin-left: 25%;
}


.coracao{
    background: rgba(230, 230, 230, 0.4);
    width: 60%;
}

.coracao img{
    width: 80%;
    height: 100%;
    margin-left: 40px;
}

.recuperarSenha{
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    flex-shrink: 0;

    background: var(--Branco, #FFF);
    box-shadow: 0px 7px 30px 0px rgba(187, 192, 205, 0.40);
}



form{
    line-height: 50px;
    
    width: 50%;
    display: flex;
    flex-direction: column;
}

label{
    position: absolute;
    z-index: 2;
    color: #616161;
    margin-left: 10px;
    font-size: 0.7em;
    bottom: 297px;

}
input{
    padding: 8px 5px 8px 5px;
    border-radius: 8px;
    border: 1px solid #BDBDBD;
    position: relative;
    margin-top: 5px;
    margin-bottom: 40px;
}

form p{
    text-align: center;
}

.continuar{
    color: #FFFF;
    border-radius: 8px;
    background: var(--sistema-sucesso, #00C247);
    border: 1px solid transparent;
    padding: 6px 64px;
}

.continuar:hover{
    color: #00C247;
    border-radius: 8px;
    background: var(--sistema-sucesso, #FFFF);
    border: 1px solid #00C247;
    padding: 6px 64px;
}

span{
    background: #FFF;
    padding: 0px 5px;
}



